.rectangle2{
    width: 100%;
}
.rectangle3{
    width: 350px;
    left: 130px;
    top: 50px;

}
.rectangle4{
   width: 100%;
}
.rectangle5{
    width: 100px;
    top: 200px;
    left: 130px;


}
.rectangle6{
    width: 100%;

}
.rectangle7{
    width: 100%;
    
}
.title-content{
    width: 100%;
    left: 20px;
    }

.ut{
    padding: 10px;
    bottom: 20px;
}

.logo{
    left: 15px;
    top: 13px;
}
.navitems{
    left: 250px;
    width: 325px;
    top: 13px;

}
.home{
    padding-right: 0px;
}

.about{
    padding-right: 0px;
}

.course{
    padding-right: 0px;
}

.blog{
    padding-right: 0px;
}

.contact{
    padding-right: 0px;
}

.home{
    padding: 10px;
}
.image{
    left: 0px;
    size: 30px;
}
.rectangle5-2{
     width: 100px;
     left: 0px;
     top: 240px;
  

}

.rectangle5-3{
     width: 100px;
     left: 0px;
     top: 480px;

  

}

.title-content{
    top: 550px;
    color: white;
}

.header{
    width: 626px
}
.section-content-section2{
    left: 100px;
    top: 60px;
}

.imagesection22{
    bottom: 190px;
}

.text-section2{
    top: 60px;
    left: 350px;
}

.text-section2-2{
    left: 350px;
    top: 310px;
}
.text-section2-3{
    left: 350px;
    top: 550px;
}

.contact-form{
    left: 100px;
}

.contact-form-box{
    left: 140px;
    width: 400px;
    text-align: center;
    align-content: center;
    top: 250px;

}

.relative{
    padding: 30px;

}

.submit-button{
    left: 250px;
    top: 720px;
}

.made{
    left: 20px;
    top: 42px;
    }

.madewith{
    left: 105px;
    top: 42px;

}

.utkarshtyagi{
    top: 42px;
    left: 150px;
}

.circle-1{
    left: 360px;

}

.circle-2{
    left: 450px;
}

.circle-3{
    left: 550px;
}